* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  width: 90vw;
}

.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 30px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  -webkit-transition: all 700ms ease-in;
}

.panel h3 {
  position: absolute;
  left: 20px;
  bottom: 20px;
  margin: 0;
  padding: 0;
  opacity: 0;
}

.panel.active {
  flex: 5;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

#i1 {
  background-image: url(https://hdqwalls.com/download/beautiful-landscape-2-hd-1920x1080.jpg);
}
#i2 {
  background-image: url(https://s1.1zoom.me/b5045/893/Canada_Lake_Forests_511363_1920x1080.jpg);
}
#i3 {
  background-image: url(https://s1.1zoom.me/b5157/841/Rivers_Forests_Coast_Scenery_Spruce_Grass_566700_1920x1080.jpg);
}
#i4 {
  background-image: url(https://th.bing.com/th/id/R.ae786fe09cbc2db92960ee7bc2f655fd?rik=Gh%2f%2bUYuUCvIoLg&riu=http%3a%2f%2fgetwallpapers.com%2fwallpaper%2ffull%2f1%2f9%2f3%2f607749.jpg&ehk=0gJ7TvlIem0NNEv0jsCYKzqp2WlAtfysjjkEKSph7y8%3d&risl=&pid=ImgRaw&r=0);
}
#i5 {
  background-image: url(https://data.1freewallpapers.com/download/lake-mountains-forest-landscape-nature.jpg);
}
